# Veritabanı Ayarları
DB_HOST=localhost
DB_USER=user4hkqnk_qwe1
DB_PASS=user4hkqnk_qwe1
DB_NAME=user4hkqnk_qwe1

# Vercel'de bu değerleri Environment Variables olarak ayarlayın
# Vercel Dashboard > Project > Settings > Environment Variables
